/* Fundo geral */
.menu-container {
  background-color: #dcdcdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeçalho */
.menu-header {
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, #0016b8 0%, #5a1c90 50%, #f25a00 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-logo {
  height: 160px;
  margin-top: 10px;
}

Área central
.menu-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lista de botões */
.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 113px;
}

/* Botões */
.menu-buttons button {
  background-color: #d84e02;
  color: white;
  border: none;
  width: 320px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 0 #a13b00;
  transition: all 0.2s ease;
}

.menu-buttons button:hover {
  background-color: #f75a00;
  box-shadow: 0 4px 0 #8c2e00;
  transform: translateY(2px);
}

/* Botão sair */
.btn-sair {
  background-color: #d84e02;
}
