cu/* Fundo geral */
.menu-container {
  background-color: #dcdcdc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeçalho */
.menu-header {
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, #0016b8 0%, #5a1c90 50%, #f25a00 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-logo {
  height: 200px;
}

/* Área central */
.menu-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grade de botões */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-gap: 58px 60px;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 100px;
}

/* Botões principais */
.menu-grid button {
  background-color: #d84e02;
  color: white;
  border: none;
  padding: 18px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 0 #a13b00;
  transition: all 0.2s ease;
  width: 118%;
}

.menu-grid button:hover {
  background-color: #f75a00;
  box-shadow: 0 3px 0 #8c2e00;
  transform: translateY(2px);
}

/* Botão "Sair da Conta" */
.btn-sair {
  background-color: #d84e02;
  color: white;
  border: none;
  padding: 15px 100px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 0 #a13b00;
  transition: all 0.2s ease;
}

.btn-sair:hover {
  background-color: #f75a00;
  box-shadow: 0 3px 0 #8c2e00;
  transform: translateY(2px);
}

.link{
  width: 100%;
}