/* Fundo geral */
.tv-container {
  background-color: #dcdcdc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho
.tv-header {
  width: 100%;
  background: linear-gradient(90deg, #0a1dff, #f25a00);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
} */

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_cadastro {
  width: 23%;
}

/* Ícones do cabeçalho */
.header-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

/* Área central */
.tv-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
  font-family: "Poppins", sans-serif;
}

.tv-label {
  color: #d84e02;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 8px;
  margin-right: 230px;
    
  
}

.tv-label2{
   color: #d84e02;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 8px;
  margin-right: 260px;


}

.tv-label3{
    color: #d84e02;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 8px;
  margin-right: 260px;

}


.tv-input {
  width: 390px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  font-size: 15px;
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Botão Cadastrar */
.btn-cadastrar {
  margin-top: 25px;
  background-color: #0a3c77;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 25px;      /* ✅ aumenta a altura */
  font-size: 18px;         /* ✅ aumenta o texto */
  font-weight: bold;
  cursor: pointer;
  width: 390px;            /* ✅ botão maior */
  box-shadow: 0 4px 0 #072d59;
  transition: 0.2s;
  display: inline-block;
}

.btn-cadastrar:hover {
  background-color: #114b91;
  transform: translateY(2px);
}

/* Caixa de pesquisa */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 390px;
  padding-right: 35px;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: #d84e02;
  font-size: 16px;
}

.tv-content{
  display: flex;
  flex-direction: center ;
  align-items: center;
  padding: 100px 100px;
  justify-content: center;
}




