.botao {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #D44F00;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}