/* Container geral
.tv-container {
  background-color: #d9d9d9;
  height: 100vh;
  font-family: Arial, sans-serif;
} */

Header
.tv-header {
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #001f7f, #ff6a00);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}

/* Card do formulário */
.form-box {
  margin: 125px auto;
  width: 450px;
  text-align: center;
}

.form-box h2 {
  color: #c74b00;
  margin-bottom: 30px;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #c74b00;
  margin-top: 15px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 15px;
}

/* Botões */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn {
  width: 48%;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.cadastrar {
  background-color: #003f80;
  color: white;
}

.cancelar {
  background-color: #002e55;
  color: white;
}
