.main_uploaddeimagem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campos_form_upload div label{
  color: #D44F00;
  font-weight: bold;
}

.bota_upload_imagem{
     background-color: #003878;
    color: white;
    padding: 12px;
    border-radius: 6px;
    width: 24%;
    text-transform: uppercase;

}

.campos_form_upload{
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 30px;
}