.main_uploaddeimagem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
}

.campos_form_upload {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 30px;
}

.campos_form_upload.botoes {
  gap: 30px;
  justify-content: center;
}

/* Labels laranja */
.campos_form_upload div label {
  color: #d44f00;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
  /* display: block; */
}

/* Inputs */
.campos_form_upload div input[type="text"] {
  width: 240px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 8px;
  font-size: 14px;
}

/* Placeholder cor laranja */
.campos_form_upload div input::placeholder {
  color: #d44f00;
  font-size: 13px;
}

/* Botão upload de imagem: ocultar input e mostrar label azul com "+" */
#file-upload {
  display: none;
}

.upload-btn {
  background-color: #003878;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px; /* para alinhar vertical com input dos lados */
  user-select: none;
  border: none;
}

/* Botões salvar e cancelar */
.bota_upload_imagem {
  background-color: #003878;
  color: white;
  border-radius: 6px;
  padding: 10px 28px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
  border: none;
}

/* Espaçamento entre os botões */
.campos_form_upload.botoes button + button {
  margin-left: 30px;
}