/* .form-container {
  display: flex;
}

.Datas{
  justify-content:flex-end'';
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 50%;
}

.upload-form label {
  font-weight: bold;
  color: #c44d00;
margin-bottom: 5px;
}

.top,     
.mid,
.bot{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

input[type="text"],
input[type="date"],
textarea {

  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-bottom: 25px;
}

textarea {
  resize: none;
  height: 100px;
}

.input-upload {


    background-color: white;
    padding: 10px 14px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

}

.input-upload input{
  display: none;
}

.input_label_upload{
 display: flex;
 flex-direction: column;
}

.upload-button {
  background-color: #001a33;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.upload-button:hover {
  background-color: #002b5c;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.salvar {
  background-color: #003366;
}

.salvar:hover {
  background-color: #00509e;
}

.cancelar {
  background-color: #336699;
}

.cancelar:hover {
  background-color: #6699cc;
}
 */

/* MODIFICAÇÕES */

.main_uploaddeimagem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campos_form_upload div label{
  color: #D44F00;
  font-weight: bold;
}

.bota_upload_imagem{
  background-color: #003878;
  text-transform: uppercase;

}

.campos_form_upload{
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 30px;
}