/* CONTAINER PRINCIPAL */
.container-criacao {
  width: 100%;
  /* padding: 40px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dcdcdc;
}

/* LINHAS (agrupam elementos lado a lado) */
.linha {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 25px;
}

/* CAMPOS */
.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  color: #ffffff;
  margin-bottom: 5px;
}

.campo input {
  width: 260px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* BOTÃO DE ADICIONAR IMAGEM */
#input-img {
  display: none;
}

.btn-add-img {
  width: 39px;
  height: 32px;
  border-radius: 19%;
  background: #ff5f00;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* PRÉ-VISUALIZAÇÃO */
.preview {
  width: 70%;
  height: 170px;
  border-radius: 12px;
  margin-top: 10px;

  background: linear-gradient(
    135deg,
    #ff5f00 0%,
    #3d2451 50%,
    #00126a 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview p {
  color: white;
  font-size: 20px;
}

.preview img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* BOTÕES */
.btns {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.btns button {
  background: #0a2b5f;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}
